ul { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

li {
  margin-top: 2%;
  padding: 1%;
  list-style: none;  
  border: solid black 2px;
  margin-right: 1%;
}

li h2 {
  font-family: Staatliches;
  font-size: 30px;
}

li p {
  font-family: Georgia;
  font-size: 22px;
}